@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

a{
    display: inline-block;
    color: #000;
    text-decoration: none;
}
img{
    width: 100%;
}

#global-header{
    display: flex;
    flex-direction: column;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 10px 10px 10px #000;
        padding: 1rem;
    }
}

#hero{
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    background-color: #54524f;
}

.highlighht{
    padding: 0rem;
    display: flex;
    text-wrap: wrap;
     

    >*{
        width: 50%; 
        min-width: 550px; 
        flex-grow: 1;
    }
    
    figure{
        margin: 0;
    }


    section{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

.highlight:nth-child(even){
    flex-direction: row-reverse;

}
#services{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    background-color: rgb(119, 119, 119);

    h2{
        width: 100%;
        text-align: center;
    }

    .service-card{
        width: 33%;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        min-width: 250px;
        flex-grow: 1;

        /*max-width: 400px;*/
 

        i{
            min-width: 50px;
            min-height: 50px;
            padding: 0,5rem;
            border-radius: 100%;
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.btn{
    background-color: #000;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
}

.hidden{
    display: none;
    list-style: none; 
}

.icon-btn{
    background-color: transparent;
    border: none;
    i{
        font-size: 18px;
    }
}

#menu{
list-style: none;
        margin: 0;
        
        li:first-child{
            position: absolute;
            top: 20px;
            right: 20px; 

        }
    }
#close{
    background: transparent;
    border: none;
    font-size: ;

}


@media only screen and(max-width:600px){
    #menu {
        background: #9a8150;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 2rem;
            }
}

@media only screen and (min-width:789px ){
    #servicec{
        h2{
            text-align: center;
        }
    }
    .service-card{
        max-width: 450px;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (min-width:600px){

    header{
        display: flex;
        justify-content: space-between;
    }

.hidden{
    display: inline-block;
}
    #menu{
        
            display: none;
           
        
    }

    #ham{
        display: none;
    }

    #close{
        display: none;
    }

    .group{
        display: none;
    }
}